@media  (min-width: 1440px) {
    .container-features{

}
.features{
   
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.feature-item{
   margin: 10px;
   padding: 15px;
  border-radius: 15px;
}
.feature-item:hover{
    box-shadow: 2px 2px 5px #999;
    transition: all 0.3s ease;
}
.features i{
    color: rgb(215, 33, 33);
    font-size: 30px;
}
.feature-item h3{
    font-size: 20px;
    color: #555;
}
.feature-item p{
    font-size: 15px;
    color: #555;
    padding: 10px;
    text-align:justify;
    line-height: 1.6;
}
}
    
@media  (min-width: 1024px) and (max-width: 1439px) {
   .container-features{

}
.features{
   
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.feature-item{
   margin: 10px;
   padding: 15px;
  border-radius: 15px;
}
.feature-item:hover{
    box-shadow: 2px 2px 5px #999;
    transition: all 0.3s ease;
}
.features i{
    color: rgb(215, 33, 33);
    font-size: 30px;
}
.feature-item h3{
    font-size: 20px;
    color: #555;
}
.feature-item p{
    font-size: 15px;
    color: #555;
    padding: 10px;
    text-align: justify;
    line-height: 1.6;
}
}
@media  (min-width: 427px) and (max-width: 769px) {
   .container-features{

}
.features{
   
    justify-content: center;
    align-items: center;
}
.feature-item{
   margin: 7px;
   padding: 10px;
  border-radius: 15px;
}
.feature-item:hover{
    box-shadow: 2px 2px 5px #999;
    transition: all 0.3s ease;
}
.features i{
    color: rgb(215, 33, 33);
    font-size: 25px;
}
.feature-item h3{
    font-size: 18px;
    
     padding-bottom:  10px;
    color: #555;
}
.feature-item p{
    font-size: 15px;
    color: #555;
    padding: 7px;
    text-align: justify;

}
}

@media  (min-width: 320px) and (max-width: 426px) {
   .container-features{

}
.features{
   
    justify-content: center;
}
.feature-item{
}
.feature-item:hover{
    box-shadow: 2px 2px 5px #999;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.features i{
    color: rgb(215, 33, 33);
    font-size: 15px;
}
.feature-item h3{

    font-size: 10px;
    padding: 10px 10px;
    color: #555;
}
.feature-item p{
    font-size: 7px;
    color: #555;
    text-align: justify;
}
}


    



