@media (min-width: 1440px) {   
/* --Our Company start */
/*  Start About */
 body{
        margin: 0px;
        padding: 0px;
    }
.container-our-company {
    display: flex;
    background-color: #ECCEC4;

}

.container-our-company,
.row {
    border-radius: 10px;
    margin: 1%;
    display: flex;
}


.container-our-company h1 {
    font-size: 4rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
}

.container-our-company h4 {
    font-size: 3rem;
    margin-right: 10%;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}


 .container-our-company p {
    font-size: 1.3rem;
    text-align: justify;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    margin-bottom: 15px; 
 
 }
 .container-our-company img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}

/*--------- End About------------ */
/* ----------Start What We Do ---- */
.container-what h1 {
    padding-top: 35px;
    font-size: 3.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
    margin-bottom: 20px;
}

.row-what {
    border-radius: 10px;
    margin: 2%;
    padding-bottom: 2%;
    display: flex;
}

.row-what h4 {
    font-size: 3rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.row-what p {
    text-align:justify;
    font-size: 1.3rem;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
    margin-bottom: 15px;
}

.whatimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
}

/* -------End What We Do-------- */

/* -----------Start Why Chose --------- */
.row-who {
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;

}

.row-who h4 {
    font-size: 3rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.who-we {
    text-align: center;
    margin: 2%;
    padding-bottom: 1%;
}

.card {
    border-radius: 10px;
    padding: 10px;
    margin: 3%;
    padding-bottom: 2%;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
}

.card h5 {
    font-size: 1.7rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align:justify;
    font-size: 1.2rem;
    color: #222;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* -------End Why Chose------- */
}

@media (min-width: 1024px) and (max-width: 1439px) {   
/* --Our Company start */
/*  Start About */
.container-our-company {
    display: flex;
    background-color: #ECCEC4;

}

.container-our-company,
.row {
    border-radius: 10px;
    margin: 1%;
    display: flex;
}


.container-our-company h1 {
    font-size: 2.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
}

.container-our-company h4 {
    font-size: 2.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}


 .container-our-company p {
    font-size: 1rem;
    text-align: justify;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    margin-bottom: 15px; 
 
 }
 .container-our-company img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}

/*--------- End About------------ */
/* ----------Start What We Do ---- */
.container-what h1 {
    padding-top: 30px;
    font-size: 3rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
    margin-bottom: 20px;
}

.row-what {
    border-radius: 10px;
    margin: 2%;
    padding-bottom: 2%;
    display: flex;
}

.row-what h4 {
    font-size: 2.5rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.row-what p {
    text-align: justify;
    font-size: 1rem;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
    margin-bottom: 15px;
}

.whatimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
}

/* -------End What We Do-------- */

/* -----------Start Why Chose --------- */
.row-who {
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;

}

.row-who h4 {
    font-size: 3rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.who-we {
    text-align: center;
    margin: 2%;
    padding-bottom: 1%;
}

.card {
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    padding-bottom: 2%;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
}

.card h5 {
    font-size: 1.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 10px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align:justify;
    font-size: 1rem;
    color: #222;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* -------End Why Chose------- */
}


@media (min-width: 427px) and (max-width: 769px) {
/* --Our Company start */
/*  Start About */

.container-our-company {
    display: flex;
    background-color: #ECCEC4;

}

.container-our-company,
.row {
    border-radius: 10px;
    margin: 1%;
    display: flex;
}


.container-our-company h1 {
    font-size: 1.8rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
}

.container-our-company h4 {
    font-size: 1rem;
    margin-right: 10%;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}


 .container-our-company p {
    font-size: 0.8rem;
    text-align: justify;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    margin-bottom: 15px; 
 
 }
 .container-our-company img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
    
}

/*--------- End About------------ */
/* ----------Start What We Do ---- */
.container-what h1 {
    padding-top: 30px;
    font-size: 2.8rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
    margin-bottom: 20px;
}

.row-what {
    border-radius: 10px;
    margin: 2%;
    padding-bottom: 2%;
    display: flex;
}

.row-what h4 {
    font-size: 2.4rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.row-what p {
    text-align: justify;
    font-size: 0.8rem;
    margin-right: 10%;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
    margin-bottom: 15px;
}

.whatimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;

}

/* -------End What We Do-------- */

/* -----------Start Why Chose --------- */
.row-who {
    text-align: center;
    margin: 4%;
    padding-bottom: 2%;

}

.row-who h4 {
    font-size: 2.7rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.who-we {
    text-align: center;
    margin: 2%;
    padding-bottom: 1%;
}

.card {
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    padding-bottom: 2%;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
}

.card h5 {
    font-size: 1.3rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align: start;
    font-size: 0.8rem;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
    margin-bottom: 10px;
}

/* -------End Why Chose------- */
}

@media (min-width: 320px) and (max-width: 426px) {   
/* --Our Company start */
/*  Start About */
.container-our-company {
    display: flex;
    background-color: #ECCEC4;

}

.container-our-company,
.row {
    border-radius: 10px;
    /* margin: 1%; */
    display: flex;
    text-align: center;
}


.container-our-company h1 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(23, 22, 22);
}

.container-our-company h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}


 .container-our-company p {
    font-size: 0.7rem;
    text-align: justify;
    /* margin-right: 10%; */
    color: #222;
    line-height: 1.5;
    margin-bottom: 15px; 
 
 }
 .container-our-company img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}

/*--------- End About------------ */
/* ----------Start What We Do ---- */
.container-what h1 {
    padding-top: 10px;
    font-size: 1.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: rgb(23, 22, 22);
    margin-bottom: 20px;
}

.row-what {
    border-radius: 10px;
    /* margin: 1%; */
    padding-bottom: 2%;
    display: flex;
}

.row-what h4 {
    font-size: 2rem;
    border-radius: 10px;
    /* margin: 1%; */
    padding-bottom: 2%;
}

.row-what p {
    text-align: justify;
    font-size: 0.6rem;
    margin-right: 10%;
    color: #222;
    line-height: 1.6;
    margin-bottom: 15px;
}

.whatimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
}

/* -------End What We Do-------- */

/* -----------Start Why Chose --------- */
.row-who {
    text-align: center;
    margin: 1%;
    padding-bottom: 2%;

}

.row-who h4 {
    font-size: 0.7rem;
    border-radius: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.who-we {
    text-align: center;
    margin: 2%;
    padding-bottom: 1%;
}

.card {
    border-radius: 10px;
    padding: 5px;
    margin: 1%;
    padding-bottom: 1%;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
}

.card h5 {
    font-size: 0.7rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align: start;
    font-size: 0.4rem;
    color: #222;
    line-height: 1.3;
    margin-bottom: 10px;
}

/* -------End Why Chose------- */
}