@media (min-width:1440px) { 
/* --- start publications  */
.container-publications {
    background-color: #F6F6F8;

  padding: 20px;
}
.publictitel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 2%;
}
.publictitel img {
    width: 5%;
    border: none;
    margin-bottom: 1%;
}
.publictitel h1 {
    margin: 0;
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictitel h3 {
    text-align: center;
    margin: 0;
    font-size: 3.3rem;
    font-weight: 500;
    color:#EE994C;
    margin-bottom: 15px;
}
.publictextbook img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}
.publictitel p {
   text-align: justify;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
}
.publictitel button{
    margin-top: 15px;
    background-color: #EE994C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.publictitel button:hover {
    background-color: #D88A3C;
}
.publictitel i{
    font-size: 1rem;
    color: #EE994C;
}
.publictitel .p{
    font-size: 15px;
    color:#777;
    font-weight: 400;
}
.publicimg img {
    width: 95%;
    height: auto;
    border: none;
}
/* -----End Publications */

/* Textbooks Publication */
.publictextbook {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
} 
.publictextbook h1 {
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictextbook p {
    text-align: justify;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
}
.publictextbook img {
    width: 100%;
    border: none;

}
.textbook-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.textbook {
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;

}


.card {
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card .text {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
    margin-left: 35%;
}

.card h5 {
    font-size: 1.7rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align:justify;
    font-size: 1.2rem;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
    margin-bottom: 10px;
}

/* --End Textbook---  */

/* ---Start Journal */
.row-journal {
   
}
.row-journal h1 {
    font-size: 3.5rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.row-journal p {
    text-align: justify;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
    padding: 2%;

}
.publicjournal img {
    width: 95%;
    border: none;
    margin-bottom: 1%;
}
.journalbox {
    margin-bottom: 10px;
    text-align: center;
}
.journalbox .cord{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.journalbox .card h4 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #222;
}

.journalbox .card-body {

}
.journalbox .card-body p {
    text-align:justify;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}
  .journalbox .jimg{
    width: 35%;
    height: 35%;
    margin: 0;

}

}

@media (min-width:1024px) and (max-width:1439px) {
/* --- start publications  */
.container-publications {
  background-color: #F6F6F8;
  margin: 0 auto;
  padding: 20px;
}
.publictitel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 2%;
}
.publictitel img {
    width: 5%;
    border: none;
    margin-bottom: 1%;
}
.publictitel h1 {
    margin: 0;
    font-size: 2.8rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictitel h3 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    color:#EE994C;
    margin-bottom: 15px;
}
.publictextbook img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}
.publictitel p {
   text-align: justify;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}
.publictitel button{
    margin-top: 15px;
    background-color: #EE994C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.publictitel button:hover {
    background-color: #D88A3C;
}
.publictitel i{
    font-size: 1rem;
    color: #EE994C;
}
.publictitel .p{
    font-size: 15px;
    color:#777;
    font-weight: 400;
}
.publicimg img {
    width: 95%;
    height: auto;
    border: none;
}
/* -----End Publications */

/* Textbooks Publication */
.publictextbook {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
} 
.publictextbook h1 {
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictextbook p {
    text-align: justify;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}
.publictextbook img {
    width: 100%;
    border: none;

}
.textbook-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.textbook {
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;

}


.card {
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    padding-bottom: 2%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card .text {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
    margin-left: 35%;
}

.card h5 {
    font-size: 1.5rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    padding: 1%;
}

.card-body p {
    text-align: justify;
    font-size: 1rem;
    color: #222;
    line-height: 1.5;
    padding: 0 25px;
}

/* --End Textbook---  */

/* ---Start Journal */
.row-journal {
   
}
.row-journal h1 {
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.row-journal p {
    text-align: justify;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    padding: 2%;

}
.publicjournal img {
    width: 90%;
    border: none;
    margin-bottom: 1%;
}
.journalbox {
    margin-bottom: 10px;
    text-align: center;
}
.journalbox .cord{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.journalbox .card h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #222;
}

.journalbox .card-body {

}
.journalbox .card-body p {
    text-align:justify;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
}
  .journalbox .jimg{
    width: 35%;
    height: 35%;
    margin: 0;

}
/* ---End Journal */
}

@media (min-width:427px) and (max-width:769px) {
/* --- start publications  */
.container-publications {
    background-color: #F6F6F8;
  margin: 0 auto;
  padding: 20px;
}
.publictitel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 2%;
}
.publictitel img {
    width: 7%;
    border: none;
    margin-bottom: 1%;
}
.publictitel h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictitel h3 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem;
    font-weight: 500;
    color:#EE994C;
    margin-bottom: 15px;
}
.publictextbook img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}
.publictitel p {
   text-align: justify;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.5;
}
.publictitel button{
    margin-top: 15px;
    background-color: #EE994C;
    color: white;
    border: none;
    padding: 7px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.publictitel button:hover {
    background-color: #D88A3C;
}
.publictitel i{
    font-size: 1rem;
    color: #EE994C;
}
.publictitel .p{
    font-size: 12px;
    color:#777;
    font-weight: 400;
}
.publicimg img {
    width: 95%;
    height: auto;
    border: none;
}
/* -----End Publications */

/* Textbooks Publication */
.publictextbook {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
} 
.publictextbook h1 {
    font-size: 2.8rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictextbook p {
    text-align: justify;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.5;
}
.publictextbook img {
    width: 100%;
    border: none;

}
.textbook-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.textbook {
    text-align: center;
    margin: 5%;
    padding-bottom: 2%;

}


.card {
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 1%;
    padding-bottom: 1%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card .text {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
    margin-left: 35%;
}

.card h5 {
    font-size: 1.3rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

.card-body {
    /* padding: 1%; */
}

.card-body p {
    text-align:justify;
    font-size: 0.8rem;
    color: #222;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* --End Textbook---  */

/* ---Start Journal */
.row-journal {
   
}
.row-journal h1 {
    font-size: 2.8rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.row-journal p {
    text-align: justify;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.5;
    padding: 2%;

}
.publicjournal img {
    width: 90%;
    border: none;
    margin-bottom: 1%;
}
.journalbox {
    margin-bottom: 10px;
    text-align: center;
}
.journalbox .cord{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.journalbox .card h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
}

.journalbox .card-body {

}
.journalbox .card-body p {
    text-align: start;
    font-size: 0.8rem;
    color: #555;
    line-height: 1.5;
}
  .journalbox .jimg{
    width: 35%;
    height: 35%;
    margin-left: 11px;

}
/* ---End Journal */
}

@media (min-width:320px) and (max-width:426px) {
/* --- start publications  */
.container-publications {
    background-color: #F6F6F8;
  margin: 0 auto;
  padding: 20px;
}
.publictitel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 2%;
}
.publictitel img {
    width: 10%;
    border: none;
    margin-bottom: 1%;
}
.publictitel h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictitel h3 {
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color:#EE994C;
    margin-bottom: 15px;
}
.publictextbook img {
    width: 100%;
    border: none;
    margin-bottom: 1%;
}
.publictitel p {
   text-align: justify;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.3;
}
.publictitel button{
    margin-top: 15px;
    background-color: #EE994C;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
}
.publictitel button:hover {
    background-color: #D88A3C;
}
.publictitel i{
    font-size: 0.8rem;
    color: #EE994C;
}
.publictitel .p{
    font-size: 12px;
    color:#777;
    font-weight: 400;
}
.publicimg img {
    width: 95%;
    height: auto;
    border: none;
}
/* -----End Publications */

/* Textbooks Publication */
.publictextbook {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.publictextbook h1 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.publictextbook p {
    text-align: justify;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.3;
}
.publictextbook img {
    width: 100%;
    border: none;

}
.textbook-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.textbook {
    text-align: center;
    margin: 1%;
    padding-bottom: 2%;

}


.card {
    background: transparent;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    padding-bottom: 2%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card .text {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    padding-bottom: 2%;
    margin-left: 35%;
}

.card h5 {
    font-size: 0.8rem;
    margin-right: 10%;
    font-weight: 500;
    color: #222;
    margin-bottom: 10px;
}

.card-body {
    /* padding: 1%; */
}

.card-body p {
    
    text-align: start;
    font-size: 0.5rem;
    color: #222;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* --End Textbook---  */

/* ---Start Journal */
.row-journal {
   
}
.row-journal h1 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;
}
.row-journal p {
    text-align: justify;
    font-size: 0.7rem;
    color: #333;
    line-height: 1.3;
    padding: 1%;

}
.journalbox {
    margin-bottom: 10px;
    text-align: center;
}
.journalbox .cord{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.journalbox .card h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #222;
}

.journalbox .card-body {

}
.journalbox .card-body p {
    text-align: start;
    font-size: 0.8rem;
    color: #555;
    line-height: 1.5;
}
  .journalbox .jimg{
    width: 30%;
    height: 30%;
    margin: 0;

}
/* ---End Journal */
}